.inputField[type="text"],
.inputField[type="email"],
.inputField[type="number"] {
  height: 60;
  background: #f0f0f5;
  border-radius: 8px;
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: #6c6c80;
}

.inputField::placeholder {
  color: #a0a0b2;
}

.inputField:disabled {
  cursor: not-allowed;
}
